.game-controls {
  margin-top: 30px;

  .next {
    background-color: lightslategrey;
    color: white;
  }

  .play {
    width: 110px;
    background-color: mediumaquamarine;
  }

  .pause {
    width: 110px;
    background-color: lightcoral;
  }
}
